.flexbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vw;
  min-height: 50vh;
  background-image: url(../public/images/banner.gif);
  background-size: cover;
  background-position: right;
  margin-bottom: 4%;
}

.banner .h2 {
  position: absolute;
}

.wrappedImage {
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
  height: 10%;
}

.nav .wrappedImage {
  width: 47.2px;
  margin: 10px;
}

.nav .isolatedImage {
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section .h2 {
  margin: 3%;
  line-height: 30px;
}

.section .wrappedImage {
  border-radius: 5px;
  overflow: hidden;
  height: 240px;
  width: 240px;
  margin-bottom: 3%;
}

.p {
  line-height: 30px;
  margin: 0 2% 5% 2%;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5% 2%;
  background: #fe019a;
  color: black;
  line-height: 30px;
}

.faq .title {
  color: white;
}

.faq .question {
  margin: 2.5% 0;
}

.faq .answer {
  color: white;
  margin: 2.5% 0;
}

.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: yellow;
  color: black;
  padding: 5% 2%;
}

.roadmap h2 {
  /* ! This 50% margin is just here to make space for images because we don't currently have them. */
  margin: 300px 0 3% 0;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5% 2%;
}

.teamTitle {
  text-align: center;
  margin-top: 4%;
}

.team .dev {
  margin-bottom: 2%;
  color: gold;
}

.team .wrappedImage {
  margin-bottom: 4%;
  border-radius: 5px;
  overflow: hidden;
}

.link {
  color: white;
  margin-bottom: 8%;
  margin-top: 2%;
  display: block;
}

#gold {
  color: gold;
}

#lime {
  color: lime;
}

#red {
  color: #DC143C;
}

@media only screen and (min-width: 1020px) {
  
  .nav {
    justify-content: flex-start;
  }

  .section {
    flex-direction: row;
    padding: 0 10%;
    font-size: 1.5rem;
    margin-bottom: 4%;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .section .h2 {
    line-height: 60px;
  }

  .section .wrappedImage {
    min-width: 350px;
    min-height: 350px;
  }

  .faq {
    font-size: 1.2rem;
  }

  .roadmap {
    font-size: 1.2rem;
  }

  .team {
    flex-direction: row;
  }

  .teamMember {
    margin: 0 5%;
  }



}